<header class="bg-dark text-white py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Profile Picture -->
            <div class="col-md-4 text-center">
                <img src="jared.jpg" alt="Your Name" class="rounded-circle"  />
            </div>
            <!-- Bio -->
            <div class="col-md-8">
                <p class="lead">Hey, I'm Jared Walden. Here's what I've been working on!</p>
            </div>
        </div>
    </div>
</header>
